*{
	margin:0px;
	padding:0px;
}
.sharess{
	background-color: white;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	width: 150px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 25px;
	border: 3px solid white;
	
}

.sharest{

	background-color: transparent;
	border: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	border: 3px solid white;
	width: 150px;
}


.bgimage{
	background-image: url('tt.jpg');
	background-size: 100% 110%;
	width: 100%;
	height: 100vh;
}

.menu{

	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}

.leftmenu{
	width: 20%;
	line-height: 100px;
	float: left;
/*	background-color: yellow;*/
}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}

.leftmenu h3{
	padding-left: 50px;
	font-weight: bold;
	color: black;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}

.rightmenu{
	width:70%;
	height: 100px;
	float: right;
/*	background-color: red; */
}

.g-signin2{
    height: -100px;
    margin-left: 200px;
}

.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color: white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;
}

.email{
        border: 2px solid;
        padding: 20px; 
        width: 300px;
        resize: both;
        overflow: auto;
        }
.submit{
        border: 2px solid;
        padding: 20px; 
        width: 300px;
        resize: both;
        overflow: auto;
        
        }

.msg{
        border: 2px solid;
        padding: 20px; 
        width: 300px;
        resize: both;
        overflow: auto;
        }



.rainbow {
  
   /* Font options */
  font-family: 'Pacifico', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size:40px;
  
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  
  /* Standar Syntax */
  animation: rainbow 3s infinite; 
}

@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}



/* Standar Syntax */
@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: orange;}
}

#fisrtlist{
	color: orange;
}


.rightmenu ul li:hover{
	color: orange;
}

.first_name{
    //
}

.last_name{
    //
}
.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color: orange;
	font: 'Open Sans';
	
}


/* Standard syntax */
@keyframes text {
  from {background-color: red;}
  to {background-color: yellow;}
}



.text69{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color: black;
}

.text h4{

	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: orange;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.text h1{
	font-size:62px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
	color: orange;
}

.text h3{
	font-size: 12px;
	color: orange;
	font-family: 'Open Sans', sans-serif;
}


